.button{
    border-radius: 1.5em;
    font-size: 1.2rem;
    color: $secondaryColorText;
    border:none;
    background: linear-gradient(-5deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    display: inline-flex;
    font-weight: 400;
    width: max-content;
    box-shadow: $shadow;
    text-decoration: none;
    padding: .8rem;  
    margin-top: 2rem;    
    &:hover{
        background-color: #fff;
        box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
    } 
}



