.button{
    border-radius: 1.5em;
    font-size: 1.2rem;
    color: $secondaryColorText;
    border:none;
    background: linear-gradient(-5deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    display: inline-flex;
    font-weight: 400;
    width: max-content;
    box-shadow: $shadow; 
}

a.button{
    text-decoration: none;      
}

a.button:hover{
    background-color: $fourdaryNeutralColor;
    box-shadow: $shadow;   
    }

