.card{
    box-shadow: $shadow;
    border-radius: 1rem;
    img{
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    i{
        color: #7e7e7e;
    }
    &.highlight{
        background-color: #f2eafb!important;
        i{
            color: $primaryStrongColor;
        }
    }
    
}

ol {
    counter-reset: item;
    li.card{
        &::before{
            content:counter(item);
            counter-increment: item;
            background: $primaryStrongColor;
            border-radius: 100%;
            width: 1.5em;
            display: inline-flex;
            height: 1.5em;
            justify-content: center;
            align-items: center;
            color:$secondaryColorText;
        }
    }
}


li.card{
    list-style: none;
}




















