.dish {
  background: $fourdaryNeutralColor;
  display: grid;
  grid-template-columns: 1fr 4rem;
  cursor: pointer;
  &--animation {
    transition: 0.5s;
    animation: menu-appear 1.5s;
    & > li:nth-child(2n) {
      animation: menu-appear 1.3s ease-in-out;
    }
    & > li:last-child {
      animation: menu-appear 1.8s ease-in-out;
    }
  }
  .dish__text {
    padding: 1rem;
    display: grid;
    grid-template-areas:
      "name name"
      "description price";
    grid-template-columns: 1fr auto;
    grid-gap: 0.8rem;
    &__name {
      grid-area: name;
    }
    &__description {
      grid-area: description;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__price {
      grid-area: price;
    }
  }
}

.dish__checking {
  background-color: $thirdaryBackgroundColor;
  // width: 4rem;
  width: 0;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  .dish__checking__circle {
    .fa-check-circle {
      background-color: $thirdaryBackgroundColor;
      color: $fourdaryNeutralColor;
    }
  }
}
.dish:hover {
  .dish__checking {
    animation: slide-position 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    visibility: visible;
    transition: all 0.5s ease-in;
    transform-origin: right;
    .fa-check-circle {
      transition: transform .5s;
      transform: rotate(360deg);
    }
  }
}

@keyframes menu-appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-position {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 4rem;
    opacity: 1;
  }
}
