mixin listDishes(dishes)
    ul.listDishes.dish--animation
        each dish in dishes
            li.card.dish
                .dish__text
                    h4.dish__text__name=dish.name
                    span.dish__text__description=dish.description 
                    p.dish__text__price=dish.price
                .dish__checking
                    .dish__checking__circle 
                        i.fas.fa-check-circle

