mixin listDishes(dishes)
    ul.listDishes
        each dish in dishes
            .restaurant__menu--composition
                h4=dish.name
                .restaurant__menu--description
                    span.restaurant__menu--text=dish.description 
                    p=dish.price
