.listRestaurants {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 0.4rem;
  grid-gap: 2rem;
  transition-duration: 0.5s;
  .listRestaurants__restaurant {
    position: relative;
  }
  .listRestaurants__restaurant--isNew::after {
    content: "Nouveau";
    font-weight: 500;
    color: $thirdaryColorText;
    background: $thirdaryBackgroundColor;
    position: absolute;
    top: 5%;
    right: 0.8rem;
    padding: 0.5rem 1rem;
  }
  .listRestaurants__restaurant__link {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  .listRestaurants__restaurant__link__photo {
    height: 10rem;
  }

  .listRestaurants__restaurant__text {
    margin: 1.2rem 0 1rem 1rem;
  }
  .listRestaurants__restaurant__favorite,
  .listRestaurants__restaurant__favorite--hover {
    font-size: 2rem;
    position: absolute;
    bottom: 1.5rem;
    right: 1.2rem;
  }
}

@media all and (min-width: 850px) {
  .listRestaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0.4rem;
  }
}
