.restaurant__menu__dishes article{
  &:nth-child(1){
    .dish--animation{
      animation-delay: 3.7s;
      li{

        &:nth-child(1){ animation-delay: 3.7s; }
        &:nth-child(2){ animation-delay: 3.9s; }
        &:nth-child(3){ animation-delay: 4.1s; }
        &:nth-child(4){ animation-delay: 4.3s; }
      }
    }
  }
  &:nth-child(2){
    .dish--animation{
      animation-delay: 4s;
      li{
        &:nth-child(1){ animation-delay: 4s; }
        &:nth-child(2){ animation-delay: 4.2s; }
        &:nth-child(3){ animation-delay: 4.4s; }
        &:nth-child(4){ animation-delay: 4.6s; }
      }
    }
  }
  &:nth-child(3){
    .dish--animation{
      animation-delay: 4.3s;
      li{
        &:nth-child(1){ animation-delay: 4.3s; }
        &:nth-child(2){ animation-delay: 4.5s; }
        &:nth-child(3){ animation-delay: 4.7s; }
        &:nth-child(4){ animation-delay: 4.9s; }
      }
    }
  }
}

.dish {
  background: $fourdaryNeutralColor;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  &--animation {
    transition: 0.5s;
    animation: menu-appear 1.5s forwards;
    opacity: 0;

    li {
      opacity: 0;
      animation: menu-appear 1.5s forwards;
    }
  }
  .dish__text {
    padding: 1rem;
    display: grid;
    grid-template-areas:
      "name name"
      "description price";
    grid-template-columns: 1fr auto;
    grid-gap: 0.8rem;
    height: 6rem;
    width: 100%;
    &__name {
      grid-area: name;
    }
    &__description {
      grid-area: description;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__price {
      grid-area: price;
    }
  }
}

.dish__checking {
  background-color: $thirdaryBackgroundColor;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 0.5s ease-in;
  overflow: hidden;
  .dish__checking__circle {
    .fa-check-circle {
      background-color: $thirdaryBackgroundColor;
      color: $fourdaryNeutralColor;
    }
  }
}
.dish:hover,:focus {
  .dish__checking {
    width: 5rem;
    visibility: visible;
    .fa-check-circle {
      transition: transform .5s;
      transform: rotate(360deg);
    }
  }
}

@keyframes menu-appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

