.restaurant__menu--animation{
    transition: .5s;
    animation: menu-animation 1.5s ;
}

@keyframes menu-animation{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

