extends _layout.pug

block content
    #_index
        include ../sections/_localisation
        include ../sections/_restaurantChoice
        include ../sections/_howToUse
        include ../sections/_restaurants
        




