extends _layout.pug

include ../components/listRestaurants.pug

block content
    include ../sections/_localisation
    include ../sections/_restaurantChoice
    include ../sections/_howToUse
    +listRestaurants(restaurants)




