extends _layout.pug

include ../components/listRestaurants.pug

block content
    #_index
        include ../sections/_localisation
        include ../sections/_restaurantChoice
        include ../sections/_howToUse
        include ../sections/_restaurants
        +listRestaurants(restaurants)




