$primaryNeutralColor:#fafafa;
$secondaryNeutralColor:#353535;
$thirdaryNeutralColor:#f3f3f3;
$fourdaryNeutralColor: #FFF;
$primaryStrongColor:#9356DC;
$secondaryColorText:#fff;
$thirdaryColorText:#1b6150;
$thirdaryBackgroundColor:#99e2d0;

$shadow:#0001 0 1rem 1rem;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
}

.fas,.far,.fal,.fad {
    text-align: center;
    width: 1.5em;
    height: 1em;
}

#root{
    background: $primaryNeutralColor;
    
}