#_restaurant img {
  height: 18rem;
}
.restaurant__menu {
  background: $primaryBackgroundForRestaurants;
  margin-top: -5rem;
  z-index: 999;
  position: relative;
  padding: 3rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  &__head {
    display: grid;
    &__favorite,&__favorite--hover {
      font-size: 2rem;
      position: absolute;
      top: 2.5rem;
      right: 2.2rem;
    }
  }
  &__dishes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1rem;
    justify-content: center;
  }
  &__foot {
    display: grid;
    justify-content: center;
  }
}

.restaurant__menu__title {
  font-family: "shrikhand", sans-serif;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}



.restaurant__menu__dishes__cat {
  width: 2.5rem;
  border-bottom: 3px solid #99e2d0;
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
  padding-bottom: 1rem;
}
