extends _layout.pug

include ../components/listDishes.pug

block content
    - var restaurant=restaurants[id]
    #_restaurant
        img(src=restaurant.img+".jpg", alt="exemple de plat du restaurant "+restaurant.name)
        section.restaurant__menu.container
            .restaurant__menu__head
                h2.restaurant__menu--title=restaurant.name
                i.fa-heart.far.restaurant__menu__head__favorite
                i.fa-heart.fas.favorite.restaurant__menu__head__favorite--hover
            .restaurant__menu__dishes
                article    
                    h3.restaurant__menu__dishes--cat ENTRÉES
                    +listDishes(restaurant.starters)
                article
                    h3.restaurant__menu__dishes--cat PLATS
                    +listDishes(restaurant.maincourses)
                article
                    h3.restaurant__menu__dishes--cat DESSERTS
                    +listDishes(restaurant.desserts)
            .restaurant__menu__foot 
                button.button Commander 

