#footer{
    background-color: $secondaryNeutralColor;
    display: grid;
    grid-template-columns: 1fr;
    line-height: 2;
    height: 13rem;
    .footer__logo{
        filter:invert(1);
        height: 1rem;
        width: auto;
        margin: 1rem 0 1rem 1.5rem;
        
    }
    .footer__links{
        color: $secondaryColorText;
        list-style: none;
        margin-left: 1rem;
        .footer__links__link{
            text-decoration: none;
            color: inherit;
        }
    }
}