footer#footer 
    img(src="images/logo/ohmyfood@2x.svg" alt="Logo Ohmyfood").footer__logo
    ul.footer__links
        li
            a(href="#").footer__links__link 
                i.fa-utensils.fas.footer__links__link__marker
                | Proposer un restaurant
        
        li 
            a(href="#").footer__links__link
                i.fa-hands-helping.fas.footer__links__link__marker
                | Devenir partenaire

        li 
            a(href="#").footer__links__link
                | Mentions légales

        li 
            a(href="#").footer__links__link
                | Contact

    