#footer{
    background-color: $secondaryNeutralColor;
    .footer__logo{
        filter:invert(1);
        height: 1rem;
        width: auto;
    }
    .footer__links{
        color: $secondaryColorText;
        list-style: none;
        .footer__links__link{
            text-decoration: none;
            color: inherit;
        }
    }
}