#footer{
    background-color: $secondaryNeutralColor;
    display: grid;
    grid-template-rows: auto 1fr;
    line-height: 2;
    .footer__logo{
        filter:invert(1);
        height: 1rem;
        width: auto;
    }
    .footer__links{
        color: $secondaryColorText;
        list-style: none;
        .footer__links__link{
            text-decoration: none;
            color: inherit;
        }
    }
}