include ../components/goToHomeLink

header#header
    .container
        if !index 
            +goToHomeLink("header__homeLink") 
        h1.header__logo
            img(src="images/logo/ohmyfood@2x.svg" alt="Logo Ohmyfood")