#header{
    display: flex;
    justify-content: center;
    box-shadow: $shadow;
    z-index: 999;
    position: relative;
    .header__homeLink{
        float: left;
    }
    .header__logo{
        height: 2rem;
        margin: auto;
        display: block;
        img{
            height: inherit;
        }    
    }
}