#howToUse{
    background: $fourdaryNeutralColor;
    .howToUse__steps{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        justify-content: center;
    }
    .howToUse__steps__step{
        background: $primaryNeutralColor;
        display: flex;
        height: 4rem;
        width: auto;
        align-items: center;
        justify-content: flex-start;    
    }
}

