section#howToUse
    h2.howToUse__title  Fonctionnement
    ol 
        li.card 
            i.fa-mobile-alt.fas
            | Choisissez un restaurant

        li.card  
            i.fa-list-ul.fas
            | Composez votre menu

        li.card.highlight  
            i.fa-store.fas 
            | Dégustez au restaurant

