#howToUse{
    background: $fourdaryNeutralColor;
    .howToUse__steps{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        justify-content: center;
        padding: 2rem;
    }
    .howToUse__steps__step{
        background: $primaryNeutralColor;
        display: flex;
        height: 3rem;
        flex: 1;
        margin: 0 0 2rem 2rem;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        max-width: 300px;
        min-width: 250px;
        white-space: nowrap;
        padding: 2.5rem 0;    
    }
    .howToUse__steps__step:hover{

        background-color: #f2eafb;
        color:#000;
        box-shadow: $shadow;
        i{
            color: $primaryStrongColor;
        }
    
    }
}

