section#howToUse
    div.container
        h2.howToUse__title  Fonctionnement
        ol.howToUse__steps 
            li.card.howToUse__steps__step 
                i.fa-mobile-alt.fas
                | Choisissez un restaurant

            li.card.howToUse__steps__step  
                i.fa-list-ul.fas
                | Composez votre menu

            li.card.highlight.howToUse__steps__step  
                i.fa-store.fas 
                | Dégustez au restaurant

