#restaurantChoice{
    display: grid;
    justify-content: center;
    &>*{
        margin: auto;
    }
    .restaurantChoice__slogan{
        .restaurantChoice__text{

        }
        .restaurantChoice__btn{
             
        }
    }
}


