section#restaurantChoice 
    h1.restaurant__slogan Réserver le menu qui vous convient
    p.restaurant__text Découvrez des restaurants d'exception, sélectionées par nos soins
    button.restaurant__btn  Explorer nos restaurants