section#restaurantChoice
    .container
        h2.restaurantChoice__slogan Réservez le menu qui vous convient
        p.restaurantChoice__text Découvrez des restaurants d'exception, sélectionées par nos soins
        a(href="#restaurants").restaurantChoice__btn.button  Explorer nos restaurants
